//计算1rem为多少位图像素
@rem:375/16rem;
@bg-color:#FF9898; // 头部背景色
@bg-color1:#f0f0f0; // 页面背景色
@font-color:#333; // 小标题字体颜色
@font-size:15/@rem; // 小标题字体大小
@font-spacing:0.18/@rem; // 小标题字间距
@font-color1:#666; // 正文字体颜色
@font-size1:14/@rem; // 正文字体大小
@font-spacing1:0.17/@rem; // 正文字间距
@font-color2:#FF9898; // 当前选中文字颜色

/* 清除浮动 */
.clearfix () {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

/*显示省略号 一行*/
.ellipsis () {
  overflow:hidden;
  white-space:nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/*显示省略号 二行*/
.ellipsis2 () {
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}

/* 设置内容块宽度，居中 */
.juzhong () {
  width:1194px;
  margin:0 auto;
}

/* 设置提示消息样式 */
.errMsg () {
  color:red;
}

/* 设置提示消息样式 */
.input () {
  height:24px;
  line-height:24px;
  border: 1px solid #ccc;
  padding:0 10px;
}

/* 封面上传样式 */
.jfmbox () {
  border:1px dashed #ccc;
  color:#ccc;
  text-align:center;
  line-height:220px;
  width:100%;
  height:220px;
  margin:20px 0;
  font-size:24px;
  overflow:hidden;
  cursor:pointer;
  img {
    max-width:200px;
    max-height:200px;
    margin-top:10px;
  }
}

/* 遮罩层样式 */
.modal () {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1200;
  background: rgba(0, 0, 0, .2);
}

/* 绝对居中样式 */
.showCenter () {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  z-index:1210;
}

.top-border-1px(top,@color:black){
  position: relative;
  &:before{
    position: absolute;
    content: "";
    display: block;
    top: 0;
    width: 100%;
    height: 1px;
    background: @color;
    @media only screen and (-webkit-device-pixel-ratio:2){
      transform:scaleY(.5);
    }
    @media only screen and (-webkit-device-pixel-ratio:3){
      transform:scaleY(.3333333333333);
    }
  }
}

.top-border-1px(bottom,@color:black){
  position: relative;
  &:before{
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: @color;
    @media only screen and (-webkit-device-pixel-ratio:2){
      transform:scaleY(.5);
    }
    @media only screen and (-webkit-device-pixel-ratio:3){
      transform:scaleY(.3333333333333);
    }
  }
}

.bg-image(@url){
  background-image:~"url(@{url}@2x.png)";
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    background-image:~"url(@{url}@3x.png)";
  }
}

/*信息列表样式*/
.list_info () {
  ul {
    background:#fff;
    li {
      position:relative;
      width: 100%;
      height: 118/@rem;
      padding: 11/@rem 22/@rem 11/@rem 16/@rem;
      box-sizing:border-box;
      .imgBox {
        width: 90/@rem;
        height: 90/@rem;
        border-radius: 10/@rem;
        display:inline-block;
        vertical-align:middle;
        img {
          width: 100%;
        }
      }
      .info_wrap {
        display:inline-block;
        vertical-align:middle;
        padding-left: 16/@rem;
        .infos {
          line-height: 20/@rem;
          font-size:@font-size1;
          color:@font-color1;
          letter-spacing: @font-spacing1;
          width:222/@rem;
          .info {
            float: left;
            width: 50%;
            margin-bottom:8/@rem;
            .ellipsis();
          }
          .desc {
            width:100%;
            text-align:justify;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
      }
      .line {
        width: 269/@rem;
        height: 1/@rem;
        background:#f0f0f0;
        position:absolute;
        right:0;
        bottom:0;
      }
      &:last-child{
        .line {
          display:none;
        }
      }
    }
    .underline {
      background:#f0f0f0;
      box-sizing:border-box;
      font-size:12/@rem;
      height: 55/@rem;
      line-height:17/@rem;
      letter-spacing: @font-spacing1;
      color: #B9B9B9;
      width:100%;
      padding-top:8/@rem;
      text-align:center;
    }
    .top-tip{
      position:absolute;
      left:0;
      top:-40/@rem;
      width: 100%;
      height:40/@rem;
      line-height:40/@rem;
      text-align:center;
      color: #B9B9B9;
      background: #f0f0f0;
      font-size:12/@rem;
      letter-spacing: @font-spacing1;
    }
  }
}

/*底线样式*/
.no-data {
  font-size:12/@rem;
  line-height:17/@rem;
  letter-spacing: @font-spacing1;
  color: #B9B9B9;
  width:100%;
  padding-top:8/@rem;
  padding-bottom:30/@rem;
  text-align:center;
  margin-bottom:50/@rem;
}

